// Font sizes
$Message-Time-Stamp: 0.75rem;
$Body-Copy-Small: 0.875rem;
$Card-Copy-Small: 0.9375rem;
$Card-Title: 0.9375rem bold;
$Sub-Title: 1.125rem;
$Sub-Title: 1.125rem bold;
$Section-Header: 1.125rem bold;
$Secondary-Heading: 1.5rem bold;
$Primary-Heading: 1.875rem bold;

// Line spacing
$Max: 35;
$Mid: 25;
$Small-Xl: 18;
$Small: 15;
